@font-face {
  font-family: "andale-mono";
  src: url("https://sandboxstage.com/ikram/asm/fonts/andale-mono.ttf") format('truetype');
  font-weight: normal
}

@font-face {
  font-family: "copperplate-gothicboldregular";
  src: url('https://sandboxstage.com/ikram/asm/fonts/CopperplateGothicBoldRegular.ttf') format('truetype');
  font-weight: normal
}

@font-face {
  font-family: "copperplate-gothicbold";
  src: url('https://sandboxstage.com/ikram/asm/fonts/CopperplateGothicBold.ttf') format('truetype');
  font-weight: normal
}

@font-face {
  font-family: "helvetica";
  src: url('https://sandboxstage.com/ikram/asm/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 4px;
  scrollbar-color: #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  visibility: hidden;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 1vw;
  border: 0px;
}

h1 {
  font-family: 'copperplate-gothicbold';
}

p,
span {
  font-family: 'helvetica';
}

iframe {
  position: absolute;
  width: 40%;
  height: 50%;
  top: 20%;
  left: 10%;
  margin: auto;
  border-width: 0px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.collapsible {
  position: absolute;
  width: 3%;
  right: 2%;
  top: 2%;
  z-index: 2;
}

.overlayiframebody_container {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.overlay_container {
  position: relative;
  width: 80%;
  height: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

iframe.overlayiframe {
  position: relative;
  width: 80%;
  height: 85%;
  top: 5%;
  left: 0;
}

.close {
  position: absolute;
  width: 2.5%;
  right: 2%;
  top: 2%;
  z-index: 2;
}

.collapsible img {
  width: 100%;
  height: 100%;
  margin-top: 0.07vw;
  margin-bottom: 0.07vw;
  cursor: pointer;
}

#blocker {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3em 0;
  transition: 1s background-color;
  z-index: 0;
}

#loading {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1.0);
  color: #fff;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1em 0;
  transition: 1s opacity;
  z-index: 99;
  text-align: center;
}

#loading.fade-out {
  opacity: 0;
}

#loader {
  -webkit-animation: fade 2s linear infinite;
  animation: fade 2s linear infinite;
}

.load {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  top: 45%;
  left: -1%;
}

.load span {
  font-size: 1.7vw;
}

@keyframes fade {
  0% {
    display: block;
    opacity: 1;
  }

  50% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    display: block;
    opacity: 1;
  }

  50% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.audio {
  position: relative;
  width: 2%;
  top: 73%;
  left: 8%;
}

.website,
.presentation {
  position: relative;
  width: 13%;
}

.pdf_participants {
  position: relative;
  width: 9%;
  top: 6%;
}

.pdf_participants img {
  width: 100%;
  cursor: pointer;
}

.audio .tooltiptext,
.website .tooltiptext,
.presentation .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.audio:hover .tooltiptext,
.website:hover .tooltiptext,
.presentation:hover .tooltiptext {
  visibility: visible;
}

.link_buttons {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 0.5vw;
}

.link_buttons img {
  width: 70%;
  cursor: pointer;
}

.audio img {
  width: 100%;
}

.blocker-left {
  height: 80vh;
  /* width: 500px; */
  width: 32%;
  margin-right: 60px;
  word-break: break-word;
  position: absolute;
  top: 10%;
  left: 10%;
}

.logo {
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
}

.logo img {
  width: 20%
}

.blocker-right-bio {
  height: 85%;
  width: 24%;
  margin-right: auto;
  word-break: break-word;
  position: absolute;
  top: 15%;
  right: 18%;
}


.blocker-right {
  height: 100%;
  position: absolute;
  /* width: 580px; */
  width: 30%;
  right: 15%;
  top: 28%
}

.blocker-controls {
  min-height: 180px;
  height: 23%;
  margin-bottom: 2vw;
  border-bottom: 1px solid #666;
  padding-bottom: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.controls-row {
  display: flex;
  justify-content: space-between;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 1vw;
  width: 100%;
}

.control-headline {
  margin-top: 10%;
  margin-bottom: 3px;
  font-size: 0.9vw;
}

.control-subtext{
  font-size: 0.9vw;
}

.keys {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 170px;
  margin-bottom: 10px;
}

.wasd .key:first-child {
  margin: 0px 2.9vw;
  clear: both;
}

.escape .key {
  margin: 0.3vw 0 0.3vw;
}

.key {
  width: 10%;
  height: 20%;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1.3em;
  font-size: 0.5vw;
  margin: 0.25vw 0.2vw;
  font-style: italic;
}

.mouse-lockup {
  margin: 1vw 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mouse-arrow-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent #ffffff transparent transparent;
}

.mouse-arrow-left:after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin-top: -1px;
  margin-left: 6px;
}

.mouse-body {
  width: 2vw;
  border: 3px solid #fff;
  height: 3vw;
  border-radius: 2vw;
  padding: 0.8em;
  margin: 0 1vw;
}

.mouse-wheel {
  background-color: #fff;
  width: 0.45vw;
  height: 16px;
  border-radius: 0.9vw;
  /* align-items: center; */
  position: relative;
  left: 40%;
}

.mouse-arrow-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #ffffff;
}

.mouse-arrow-right:after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin-top: -1px;
  margin-left: -16px;
}

.blocker-room {
  min-height: 180px;
  height: 15vh;
  width: 100%;
  position: relative;
  top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 1s border-color;
  align-items: flex-start;
}

.blocker-room h1 {
  font: 2vw;
}

.blocker-room p,
.blocker-statement p {
  font-size: 1vw;
}

.blocker-room-bio {
  /* min-height: 245px; */
  height: 36%;
  width: 100%;
  display: block;
  /* flex-direction: column;
  justify-content: flex-end;
  transition: 1s border-color;
  align-items: flex-start; */
}

.blocker-room-bio h1 {
  font-size: 1.7vw;
  width: 80%;
  margin: 0 0 1vw;
}

.blocker-room-bio p {
  font-size: 0.8vw;
  margin: 0 0 0.2vw;
}

.blocker-statement {
  margin-top: 1vw;
  overflow: auto;
}

h1.bio-double {
  margin: 0 0 3vw;
}

h1.bio-triple {
  margin: 0 0 4.5vw;
}

.blocker-statement-bio {
  margin-top: 2vw;
  overflow-y: scroll;
  height: 100%;
}

.blocker-statement-bio-double {
  margin-top: 3.5vw;
  overflow-y: scroll;
  height: 100%;
}

.blocker-statement-bio-triple {
  margin-top: 2vw;
  overflow-y: scroll;
  height: 100%;
}

.blocker-statement-bio p,
.blocker-statement-bio-double p,
.blocker-statement-bio-triple p {
  width: 98%;
  font-size: 0.8vw;
  text-align: justify;
  margin: 0 0 0.5vw;
}

/* .blocker-statement-bio p:hover,
.blocker-statement-bio-double p:hover,
.blocker-statement-bio-triple p:hover {
  overflow-y: scroll;
  visibility: visible;
} */

.profilephoto {
  width: 19%;
  position: absolute;
  top: 1%;
  right: 0;
}

.profilephoto img {
  width: 100%;
  height: 100%;
}

.artworkphoto {
  width: 50%;
  position: relative;
  top: 5%;
  right: 0;
}

.artworkphoto img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.artworkphoto-three {
  width: 100%;
  position: relative;
  top: 5%;
  right: 0;
  display: flex;
}

.artworkphoto-three img {
  width: 25%;
  cursor: pointer;
}

.artworkphoto-two {
  width: 100%;
  position: relative;
  top: 5%;
  right: 0;
  display: flex;
}

.artworkphoto-two img {
  width: 50%;
  cursor: pointer;
  margin-right: 0.5vw;
}

.artwork_enlarge {
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.kokyoongart {
  display: none;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2%;
}

.kokyoongart img {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.closebtn {
  position: absolute;
  top: -5%;
  right: 0%;
  width: 7%;
  /* font-size: 1.2vw; */
  cursor: pointer;
  /* background-color: blue;
    padding: 0.3em 0.8em;
    border-color: white;
    border-radius: 0.4em;
    border-style: solid;
    border-width: thin; */
}

.closebtn img {
  width: 100%;
  height: 100%;
  background-color: #1900ff;
}

.description {
  width: 100%;
  height: 100%;
  color: rgb(207, 121, 8);
  position: absolute;
  left: 20%;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 0.7vw;
  cursor: pointer;
}

#instructions2 {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  top: 33%;
}

#instructions2 p {
  font-size: 0.45vw;
}

#blockerdetails {
  display: flex;
}

.bio {
  display: none;
  width: 100%;
  height: 100%;
}

.enter-gallery {
  font-family: aktiv-grotesk-extended, "Helvetica Neue", "Arial", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1vw 2vw;
  border-radius: 0.3vw;
  cursor: pointer;
  text-align: center;
  font-size: 1vw;
}

.statement {
  display: none;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -33vw;
}

.spacer {
  height: 10%;
}

#artimage {
  position: relative;
  width: 34%;
  height: 50%;
  left: -0.5vw;
  margin-bottom: -1.5vw;
  top: -1.5vw
}

#artimage img {
  width: 100%;
  height: 100%;
}

#artName {
  height: 6%;
  width: 34%;
  z-index: 1;
  top: 0%;
  right: 1%;
  background-color: #111;
  overflow: hidden;
  border: none;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  position: relative;
  display: block;
}

#artistName {
  height: 6%;
  width: 34%;
  z-index: 1;
  top: 0.2%;
  right: 1%;
  background-color: #111;
  overflow: hidden;
  border: none;
  color: antiquewhite;
  background-color: white;
  flex-direction: column;
  justify-content: center;

  position: relative;
  display: block;
}

#artDetail {
  height: 37%;
  width: 34%;
  z-index: 1;
  top: 0%;
  right: 1%;
  background-color: #111;
  overflow: hidden;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  position: relative;
  display: block;
}

#logo {
  color: white;
  position: absolute;
  display: none;
  top: 1.5vw;
  left: 1.5vw;
  font-size: 0.7vw;
  z-index: 2;
}

#logo p {
  font-size: 0.55vw;
}

#artBio {
  padding: 1em;
  width: 100%;
  height: 35%;
  margin-bottom: 0;
  background-color: #ffffff;
  color: #000000;
  border: none;
  display: flex;
  align-items: center;
  font-size: 0.65vw;
  padding-bottom: 1.5em;
  /* margin-bottom: 0.5vw; */
  /* margin-top: 0.5vw;*/
}

#artBioLong {
  padding: 1em;
  width: 100%;
  height: 65%;
  margin-bottom: 0;
  background-color: #ffffff;
  border: none;
  display: flex;
  text-justify: auto;
  align-items: center;
  margin-top: 0.5vw;
}

#artBioLong p {
  width: 90%;
  height: 100%;
  color: #000000;
  font-size: 0.65vw;
  text-align: justify;
  overflow-y: scroll;
}

#artBio p {
  width: 90%;
  color: #000000;
  font-size: 0.75vw;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

/* PhotoGallery CSS for Tasneem */

.gallerybody_tasneem {
  height: 100%;
  width: 53%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

.gallery_tasneem {
  display: grid;
  grid-template-rows: repeat(5, 15vh);
  grid-template-columns: repeat(2, 20vw);
  transition: all 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.2);
  /* background-color: #82a6cb; */
  background-color: transparent;
  border-radius: 10px;
  padding: 0.25em;
  cursor: pointer;
}

@media (min-width: 40em) {
  .gallery_tasneem {
    grid-template-columns: repeat(6, 18vw);
    grid-template-rows: repeat(1, 15vw);
  }
}

.gallery_tasneem img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.15s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  position: relative;
  box-shadow: 0 0 0 #0000;
  opacity: 0.8;
  filter: sepia(80%) hue-rotate(180deg);
}

.gallery_tasneem img:first-child {
  border-radius: 10px 10px 0 0;
}

.gallery_tasneem img:last-child {
  border-radius: 0 0 10px 10px;
}

@media (min-width: 40em) {
  .gallery_tasneem img:first-child {
    border-radius: 10px 0 0 10px;
  }

  .gallery_tasneem img:nth-child(5) {
    border-radius: 0 0 0 0;
  }

  .gallery_tasneem img:nth-child(6) {
    border-radius: 0 0 0 0;
  }

  .gallery_tasneem img:last-child {
    border-radius: 0 10px 10px 0;
  }
}

.gallery_tasneem img:hover {
  opacity: 1;
  z-index: 1;
  box-shadow: 1em 1em 1em #0004;
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  filter: sepia(0%) hue-rotate(0deg);
  border-radius: 5px;
  width: 125%;
  height: 125%;
  left: -25%;
  top: -10%;
}

@media (min-width: 15em) and (max-width: 40em) and (orientation: portrait) {
  .gallery_tasneem {
    display: grid;
    grid-template-rows: repeat(1, 18vw);
    grid-template-columns: repeat(6, 11vw);
  }

  .gallery_tasneem img:first-child {
    border-radius: 10px 0 0 10px;
  }

  .gallery_tasneem img:nth-child(5) {
    border-radius: 0 0 0 0;
  }

  .gallery_tasneem img:nth-child(6) {
    border-radius: 0 0 0 0;
  }

  .gallery_tasneem img:last-child {
    border-radius: 0 10px 10px 0;
  }

  .gallery_tasneem img:hover {
    width: 150%;
    height: 150%;
    left: -40%;
    top: -25%;
    border-radius: 5px 0px 0px 5px;
  }
}

@media (min-width: 40em) and (max-width:59.9375em) {
  .gallery_tasneem {
    display: grid;
    grid-template-rows: repeat(1, 14vw);
    grid-template-columns: repeat(6, 16%);
  }
}

@media (min-width: 40em) and (orientation: landscape) {
  .gallery_tasneem img:hover {
    width: 125%;
    height: 125%;
    left: -5%;
    top: -15%;
  }

  .gallery_tasneem img:hover~img {
    left: 20%;
  }
}

@media (min-width: 60em) {
  .gallery_tasneem {
    grid-template-columns: repeat(6, 16%);
    grid-template-rows: 14vw;
    place-content: center;
  }

  .gallery_tasneem img:hover {
    width: 125%;
    height: 125%;
    left: -5%;
    top: -15%;
  }
}

@media (min-width: 70em) {
  .gallery_tasneem {
    place-content: center;
  }
}

@media (min-width: 73em) {
  .gallery_tasneem {
    place-content: center;
  }
}

@media (min-width: 78.125em) {
  .gallery_tasneem {
    grid-template-columns: repeat(6, 15%);
    place-content: center;
  }
}

@media (min-width: 87.375em) {
  .gallery_tasneem {
    place-content: center;
  }
}

@media (min-width: 93.5em) {
  .gallery_tasneem {
    place-content: center;
  }
}

@media (min-width: 102.5em) {
  .gallery_tasneem {
    place-content: center;
  }
}

/* PhotoGallery CSS for Farrah */

.gallerybody_farrah {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

.gallery_farrah {
  height: 70%;
  display: grid;
  grid-template-rows: repeat(5, 15vh);
  grid-template-columns: repeat(2, 20vw);
  transition: all 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.2);
  /* background-color: #82a6cb; */
  background-color: transparent;
  border-radius: 10px;
  padding: 0.25em;
}

@media (min-width: 40em) {

  img.top {
    top: -5vw;
  }

  img.bottom {
    bottom: -5vw;
  }

  img.right {
    left: 30%;
    top: -20%;
  }

  img.left {
    left: -10%;
    top: -20%;
  }

  .gallery_farrah {
    grid-template-columns: repeat(6, 18vw);
    grid-template-rows: repeat(1, 15vw);
  }
}

.gallery_farrah img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.15s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  position: relative;
  box-shadow: 0 0 0 #0000;
  opacity: 0.8;
  filter: sepia(80%) hue-rotate(180deg);
  cursor: pointer;
}

.gallery_farrah img:first-child {
  border-radius: 0 0 0 0;
}

.gallery_farrah img:last-child {
  border-radius: 0 0 0 0;
}

@media (min-width: 40em) {
  img.top {
    top: -5vw;
  }

  img.bottom {
    bottom: -5vw;
  }

  img.right {
    left: 10%;
    top: -20%;
  }

  img.left {
    left: -10%;
    top: -20%;
  }

  .gallery_farrah img:first-child {
    border-radius: 0 0 0 0;
  }

  .gallery_farrah img:nth-child(5) {
    border-radius: 0 0 0 0;
  }

  .gallery_farrah img:nth-child(6) {
    border-radius: 0 0 0 0;
  }

  .gallery_farrah img:last-child {
    border-radius: 0 0 0 0;
  }
}

.gallery_farrah img:hover {
  opacity: 1;
  z-index: 1;
  box-shadow: 1em 1em 1em #0004;
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  filter: sepia(0%) hue-rotate(0deg);
  border-radius: 5px;
  width: 125%;
  height: 125%;
  left: -25%;
  top: -10%;
}

@media (min-width: 15em) and (max-width: 40em) and (orientation: portrait) {
  img.top {
    top: -5vw;
  }

  img.bottom {
    bottom: -5vw;
  }

  img.right {
    left: 10%;
    top: -20%;
  }

  img.left {
    left: -10%;
    top: -20%;
  }

  .gallery_farrah {
    display: grid;
    grid-template-rows: repeat(1, 18vw);
    grid-template-columns: repeat(6, 11vw);
  }

  .gallery_farrah img:first-child {
    border-radius: 0 0 0 0;
  }

  .gallery_farrah img:nth-child(5) {
    border-radius: 0 0 0 0;
  }

  .gallery_farrah img:nth-child(6) {
    border-radius: 0 0 0 0;
  }

  .gallery_farrah img:last-child {
    border-radius: 0 0 0 0;
  }

  .gallery_farrah img:hover {
    width: 150%;
    height: 150%;
    left: -40%;
    top: -25%;
    border-radius: 5px 0px 0px 5px;
  }

}

@media (min-width: 40em) and (max-width:59.9375em) {
  img.top {
    top: -5vw;
  }

  img.bottom {
    bottom: -5vw;
  }

  img.right {
    left: 10%;
    top: -20%;
  }

  img.left {
    left: -10%;
    top: -20%;
  }

  .gallery_farrah {
    display: grid;
    grid-template-rows: repeat(1, 12vw);
    grid-template-columns: repeat(8, 12%);
    height: 22%;
  }
}

@media (min-width: 40em) and (orientation: landscape) {

  .gallery_farrah img:hover {
    width: 125%;
    height: 125%;
    left: -5%;
    top: -15%;
  }

  .gallery_farrah img:hover~img {
    left: 20%;
  }
}

@media (min-width: 60em) {
  img.top {
    top: -5vw;
  }

  img.bottom {
    bottom: -5vw;
  }

  img.right {
    left: 10%;
    top: -20%;
  }

  img.left {
    left: -10%;
    top: -20%;
  }

  .gallery_farrah {
    grid-template-columns: repeat(8, 12%);
    grid-template-rows: 12vw;
    place-content: center;
  }

  .gallery_farrah img:hover {
    width: 125%;
    height: 125%;
    left: -5%;
    top: -15%;
  }
}

@media (min-width: 70em) {
  .gallery_farrah {
    place-content: center;
  }
}

@media (min-width: 73em) {
  .gallery_farrah {
    place-content: center;
  }
}

@media (min-width: 78.125em) {
  .gallery_farrah {
    grid-template-columns: repeat(8, 12%);
    grid-template-rows: 11vw;
    place-content: center;
  }
}

@media (min-width: 87.375em) {
  .gallery_farrah {
    place-content: center;
  }
}

@media (min-width: 93.5em) {
  .gallery_farrah {
    place-content: center;
  }
}

@media (min-width: 102.5em) {
  .gallery_farrah {
    place-content: center;
  }
}

/* PhotoGallery CSS for shufitri */

.gallerybody_shufitri {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

.gallery_shufitri {
  display: grid;
  grid-template-rows: repeat(5, 15vh);
  grid-template-columns: repeat(2, 20vw);
  transition: all 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.2);
  /* background-color: #82a6cb; */
  background-color: transparent;
  border-radius: 10px;
  padding: 0.25em;
}

@media (min-width: 40em) {
  .gallery_shufitri {
    grid-template-columns: repeat(9, 18vw);
    grid-template-rows: repeat(1, 15vw);
  }
}

.gallery_shufitri img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.15s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  position: relative;
  box-shadow: 0 0 0 #0000;
  opacity: 0.8;
  filter: sepia(80%) hue-rotate(180deg);
  cursor: pointer;
}

.gallery_shufitri img:first-child {
  border-radius: 10px 10px 0 0;
}

.gallery_shufitri img:last-child {
  border-radius: 0 0 10px 10px;
}

@media (min-width: 40em) {
  .gallery_shufitri img:first-child {
    border-radius: 10px 0 0 10px;
  }

  .gallery_shufitri img:nth-child(5) {
    border-radius: 0 0 0 0;
  }

  .gallery_shufitri img:nth-child(6) {
    border-radius: 0 0 0 0;
  }

  .gallery_shufitri img:last-child {
    border-radius: 0 10px 10px 0;
  }
}

.gallery_shufitri img:hover {
  opacity: 1;
  z-index: 1;
  box-shadow: 1em 1em 1em #0004;
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  filter: sepia(0%) hue-rotate(0deg);
  border-radius: 5px;
  width: 125%;
  height: 125%;
  left: -25%;
  top: -10%;
}

@media (min-width: 15em) and (max-width: 40em) and (orientation: portrait) {
  .gallery_shufitri {
    display: grid;
    grid-template-rows: repeat(1, 18vw);
    grid-template-columns: repeat(8, 11vw);
  }

  .gallery_shufitri img:first-child {
    border-radius: 10px 0 0 10px;
  }

  .gallery_shufitri img:nth-child(5) {
    border-radius: 0 0 0 0;
  }

  .gallery_shufitri img:nth-child(6) {
    border-radius: 0 0 0 0;
  }

  .gallery_shufitri img:last-child {
    border-radius: 0 10px 10px 0;
  }

  .gallery_shufitri img:hover {
    width: 150%;
    height: 150%;
    left: -40%;
    top: -25%;
    border-radius: 5px 0px 0px 5px;
  }
}

@media (min-width: 40em) and (max-width:59.9375em) {
  .gallery_shufitri {
    display: grid;
    grid-template-rows: repeat(1, 10vw);
    grid-template-columns: repeat(9, 11%);
  }
}

@media (min-width: 40em) and (orientation: landscape) {
  .gallery_shufitri img:hover {
    width: 125%;
    height: 125%;
    left: -5%;
    top: -15%;
  }

  .gallery_shufitri img:hover~img {
    left: 20%;
  }
}

@media (min-width: 60em) {
  .gallery_shufitri {
    grid-template-columns: repeat(9, 11%);
    grid-template-rows: 10vw;
    place-content: center;
  }

  .gallery_shufitri img:hover {
    width: 125%;
    height: 125%;
    left: -5%;
    top: -15%;
  }
}

@media (min-width: 70em) {
  .gallery_shufitri {
    place-content: center;
  }
}

@media (min-width: 73em) {
  .gallery_shufitri {
    place-content: center;
  }
}

@media (min-width: 78.125em) {
  .gallery_shufitri {
    place-content: center;
  }
}

@media (min-width: 87.375em) {
  .gallery_shufitri {
    place-content: center;
  }
}

@media (min-width: 93.5em) {
  .gallery_shufitri {
    place-content: center;
  }
}

@media (min-width: 102.5em) {
  .gallery_shufitri {
    grid-template-rows: 12vw;
    place-content: center;
  }
}

/*# sourceMappingURL=main.css.map*/